/* navigation */
#main-navbar{
	background-color: blue;
	overflow: hidden;
	width: 100%;
	position: relative;
 }

#navbar-container{
	float: left;
	left: 50%;
	position: relative;
	display:block;
}

#navbar-container ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	right: 50%;
	float: left;
}

#navbar-container ul li{
	float: left;
	padding: 10px 20px;
}

#navbar-container ul li a{
	color: #fff;
	text-decoration: none;
}
#onpage{
	background-color: #000;
	text-decoration: underline overline;
}

/* sidebar */
#sidebar{
	
}

#sidebar-container{
	
}

#sidebar-container ul{
	
}

#sidebar-container ul li{
	
}

#sidebar-container ul li a{
	
}